/build/
/build-*/
/.kconfig-cache/
/firmware/.config
/firmware/.kconfig-cache/
/firmware/vendor/
/katapult/
/firmware/build*/
/firmware/out/**
/firmware/out/katapult-*.config
/out/
/hardware-backups/
/tmp/
/.cache/
__pycache__/
