CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F103=y
CONFIG_STM32_FLASH_START_0000=y
CONFIG_STM32_CLOCK_REF_8M=y
CONFIG_STM32_MMENU_CANBUS_PB8_PB9=y
CONFIG_STM32_APP_START_2000=y
CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_HAVE_OPTIMIZE_OS=y
CONFIG_INITIAL_PINS=""
CONFIG_ENABLE_DOUBLE_RESET=y
CONFIG_ENABLE_BUTTON=y
CONFIG_BUTTON_PIN="~PA0"
CONFIG_ENABLE_LED=y
CONFIG_STATUS_LED_PIN="PB2"
