# Mellow FLY-D5 CAN/USB 双模式 Katapult。
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32F072=y
CONFIG_STM32_FLASH_START_0000=y
CONFIG_STM32_CLOCK_REF_INTERNAL=y
CONFIG_STM32_DUAL_CAN_USB_PA11_PA12_PB8_PB9=y
CONFIG_STM32_APP_START_2000=y
CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_USB_VENDOR_ID=0x1d50
CONFIG_USB_DEVICE_ID=0x6177
CONFIG_USB_SERIAL_NUMBER_CHIPID=y
CONFIG_ENABLE_DOUBLE_RESET=y
# CONFIG_ENABLE_BUTTON is not set
CONFIG_HAVE_OPTIMIZE_OS=y
