# WeAct STM32G431CBU6 Core CAN/USB 双模式 Katapult。
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32G431=y
CONFIG_STM32_FLASH_START_0000=y
CONFIG_STM32_DUAL_CAN_USB_PA11_PA12_PB8_PB9=y
CONFIG_STM32_APP_START_2000=y
CONFIG_FLASH_APPLICATION_END_ADDRESS=0x0801f000
CONFIG_CANBUS_FREQUENCY=500000
CONFIG_USB_VENDOR_ID=0x1d50
CONFIG_USB_DEVICE_ID=0x6177
CONFIG_USB_SERIAL_NUMBER_CHIPID=y
# CONFIG_ENABLE_DOUBLE_RESET is not set
CONFIG_ENABLE_BUTTON=y
CONFIG_BUTTON_PIN="~PC13"
CONFIG_HAVE_OPTIMIZE_OS=y
