# WeAct STM32G431CBU6 Core APP（Katapult 8 KiB 布局）预设。
CONFIG_BOARD_STM32G431CBU6=y
CONFIG_BOARD_WEACT_G431_CORE_V10=y
CONFIG_G431_CLOCK_HSE_8MHZ=y
CONFIG_BOARD_HAS_LSE_32768=y
CONFIG_WEACT_G431_PC6_PWM_BREATHING_LED=y
CONFIG_STARTUP_GPIO_OUTPUT_LOW="PC6"
CONFIG_STARTUP_GPIO_INPUT_PULLDOWN="PC13"
CONFIG_SYSTEM_CLOCK_HZ=170000000
CONFIG_FIRMWARE_VERSION_MAJOR=0
CONFIG_FIRMWARE_VERSION_MINOR=1
CONFIG_FIRMWARE_VERSION_PATCH=0
CONFIG_BOARD_TYPE=0x0431CB
CONFIG_NODE_PROVISIONAL_ID=1
CONFIG_CAN_PINS_PB8_PB9=y
CONFIG_CAN_NOMINAL_BITRATE=500000
CONFIG_CAN_FD_ENABLE=y
CONFIG_CAN_FD_DATA_BITRATE=1000000
CONFIG_REMOTE_MAX_PACKET_SIZE=2048
CONFIG_REMOTE_REQUEST_CACHE_ENTRIES=16
CONFIG_REMOTE_CACHE_RESPONSE_SIZE=256
CONFIG_REMOTE_REASSEMBLY_SLOTS=2
CONFIG_REMOTE_REASSEMBLY_TIMEOUT_MS=500
CONFIG_HEARTBEAT_INTERVAL_MS=500
CONFIG_GPIO_RESOURCE_COUNT=8
CONFIG_HARDWARE_UART_RESOURCE_COUNT=3
CONFIG_UART_RX_BUFFER_SIZE=1024
CONFIG_UART_TX_BUFFER_SIZE=1024
CONFIG_REMOTEBSP_MOTION=n
CONFIG_APP_LAYOUT_KATAPULT_8K=y
CONFIG_APPLICATION_FLASH_OFFSET=0x2000
