CONFIG_BOARD_STM32F072RBT6=y
CONFIG_SYSTEM_CLOCK_HZ=48000000
CONFIG_FIRMWARE_VERSION_MAJOR=0
CONFIG_FIRMWARE_VERSION_MINOR=1
CONFIG_FIRMWARE_VERSION_PATCH=0
CONFIG_BOARD_TYPE=0x0072B6
CONFIG_NODE_PROVISIONAL_ID=1
CONFIG_CAN_PINS_PA11_PA12=y
CONFIG_CAN_NOMINAL_BITRATE=500000
CONFIG_REMOTE_MAX_PACKET_SIZE=2048
CONFIG_REMOTE_REQUEST_CACHE_ENTRIES=8
CONFIG_REMOTE_CACHE_RESPONSE_SIZE=256
CONFIG_REMOTE_REASSEMBLY_SLOTS=2
CONFIG_REMOTE_REASSEMBLY_TIMEOUT_MS=500
CONFIG_HEARTBEAT_INTERVAL_MS=500
CONFIG_GPIO_RESOURCE_COUNT=8
CONFIG_HARDWARE_UART_RESOURCE_COUNT=1
CONFIG_UART0_PINS_PA9_PA10=y
CONFIG_UART_RX_BUFFER_SIZE=256
CONFIG_UART_TX_BUFFER_SIZE=256
CONFIG_REMOTEBSP_MOTION=n
CONFIG_APP_LAYOUT_STANDALONE=y
CONFIG_APPLICATION_FLASH_OFFSET=0x0
